<div class="col">
  <div class="col-md-12 mb-2 ml-2">
    <img src="assets/headphone.jpeg" class="rounded-circle" width="200px" height="200px"/>
  </div>
  <div class="col-md-12 px-4">
    <hr>
    <div class="col-md-12 mb-3">
      <h4><fa-icon [icon]="faCircleInfo"></fa-icon>&nbsp;Information du Client / fournisseur</h4>
    </div>
    <div class="col-md-12">
      <form>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nom" aria-label="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="E-mail" aria-label="Last name">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Prénom" aria-label="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Téléphone" aria-label="Last name">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Adresse" aria-label="Last name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ville" aria-label="Last name">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12 ">
    <div class="text-end mb-5">
      <button class="btn btn-danger me-3 ">Annuler</button>
      <button class="btn btn-primary me-4">Ajouter</button>
    </div>
  </div>
</div>

