<div class="col">
  <div class="row m-3 ">
    <div class="col-md-6 p-0">
      <h3>Liste des articles</h3>
    </div>
    <div class="col-md-6">
      <app-btn-crud (clickEvent)="nouvelArticle()">
      </app-btn-crud>

    </div>
  </div>
  <div class="row m-3">
    <app-detail-product></app-detail-product>
    <app-detail-product></app-detail-product>
    <app-detail-product></app-detail-product>
    <app-detail-product></app-detail-product>
    <app-detail-product></app-detail-product>

  </div>
  <div class="row text-center m-5">
    <app-pagination></app-pagination>
  </div>
</div>
