<div class="container my-container">
  <div class="card justify-content-md-center">
    <div class="card-header align-content-center text-center">
      <h4>S'inscrire</h4>
    </div>
    <div class="card-body ">
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nom">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Prenom">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="E-mail">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Mot de passe">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Confirmation">
      </div>

      <div class="mb-3 d-flex justify-content-between">
        <a [routerLink]="['/login']" class="btn btn-link">Se connecter</a>
        <button type="button" class="btn btn-primary">S'incrire</button>
      </div>
    </div>
  </div>
</div>


