<div class="btn-group me-2" role="group" aria-label="Second group">

  <button type="button" class="btn btn-light">
    <fa-icon [icon]="faAnglesLeft"></fa-icon>
  </button>
  <button type="button" class="btn btn-light">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
  </button>
  <button type="button" class="btn btn-light">1</button>
  <button type="button" class="btn btn-light">2</button>
  <button type="button" class="btn btn-light">3</button>
  <button type="button" class="btn btn-light">
    <fa-icon [icon]="faChevronRight"></fa-icon>
  </button>
  <button type="button" class="btn btn-light">
    <fa-icon [icon]="faAnglesRight"></fa-icon>
  </button>
</div>
