
<div class="row">
  <div class="col-md-4 ml-0">
    <button type="button" class="btn btn-warning">
      <fa-icon [icon]="faArrowUpFromBracket"></fa-icon>&nbsp;
      Exporter</button>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-success">
      <fa-icon [icon]="faDownload"></fa-icon>&nbsp;
      Importer</button>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-primary">
      <fa-icon [icon]="faPlus"></fa-icon>&nbsp;
      Nouveau</button>
  </div>
</div>

